<!-- Show header unless on login/signup/forgot-password -->
@if (shouldShowHeader()) {
  <app-header></app-header>
}

<main class="container mt-4">
  @if (isLoading) {
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }

  @if (!isLoading) {
    <router-outlet></router-outlet>
  }
  <app-footer></app-footer>

  <!-- <app-signals></app-signals> -->
</main>
